<div class="logo-header-main">
    <h1>Bark Party</h1>
</div>

<div class="main-div">

    <div class="dashboard-div">
        <h1>Dashboard</h1> <hr>
        <% if current_user %>
            <div class="user-name-div">
            
                <h2>Signed In As:  <%= link_to current_user.username, user_path(current_user) %> </h2>
            </div>
            
            <br >
            <br >

            <div class="dashboard-footer">
                <h2> <%= link_to "Make Party", new_event_path %> </h2>
                <h2> <%= link_to "Sign Out", destroy_user_session_path, method: :delete%> </h2>
                <h2> <%= link_to "Home", root_path %> </h2>
            </div>
        <% else %>

            <br >
            <br >

            <div class="dashboard-footer">
                <h2> <%= link_to "Sign Up", new_user_registration_path %> </h2>
                <h2> <%= link_to "Sign In", new_user_session_path %> </h2>
                <h2> <%= link_to "Home", root_path %> </h2>
            </div>
        <% end %>
    </div>

    <div class="party-div">

        <div class="party-div-card">

            
            <h1> <%= @event.name %> </h1>
            <h2> Created by: <%= link_to @event.creator.username, user_path(@event.creator) %> </h2>
            


             

            <br >
            

            <% if current_user == @event.creator %>
                <%= link_to "Invite People", new_attended_event_path(:event_id => @event.id) %>
            <% end %>



        </div>


    </div>

    <div class="invited-to-div">
        <h1> Guests Invited </h1>
            <% @event.attended_events.each do |a| %>
                <h2> <%= link_to a.attendee.username, user_path(a.attendee) %> </h2>
            <% end %>
        </div>
