<div class="logo-header-main">
  <h1>Bark Party</h1>
</div>

<div class="main-div">

    <div class="dashboard-div">
    <h1> <%= @user.email %> </h1>
        <h2> <%= link_to "Home", root_path %> </h2>
    </div>

    <div class="party-div">


 <br > 
    <h1> <%= @event.name %> </h1> <br >

    <% @users.each do |u| %>
        <% if u != @user && @attendees_array.include?(u.id) == false %>
            <%= form_with model: @attended_event do |f|%>
                <%= f.label u.username %>
                <%= f.hidden_field :event_id, value: @event.id %>
                <%= f.hidden_field :attendee_id, value: u.id %>
                <%= f.submit "Invite", class:"invite-button" %>
            <% end %>
            
            <br>

        <% end %>

    <% end %>

    </div>



    <div class="invited-to-div">
        <h1>People Invited</h1>
        <% @attendees.each do |a| %>
            <h2> <%= a.attendee.username %> </h2>
        <% end %>


    </div>

    

</div>

